{% extends "@layout.html" %}
{% block content %}

<h2>Create new competition</h2>

{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if event %}
<form action="{% url soccer.views.new_competition %}?event={{event.id}}" method="POST">
{% else %}
<form action="{% url soccer.views.new_competition %}" method="POST">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />

    {% if events %}
    <p>
      <label for="event">Event: </label>
      <select id="event" name="event">
        {% for event in events %}
        <option value="{{ event.id }}"> {{ event.name }} </option>
        {% endfor %}
      </select>
    </p>
    {% endif %}

    <input type="submit" value="Save" /> <br>
</form>


{% endblock %}
