{% if competitions %}
<table class="eventTable">
  {% for competition in competitions %}
    <tr>
      <td> #{{ competition.id }} </td>
      <td style='width: 250px;'> <a href="{% url rescueB.views.competition competition.id %}">{{competition.name}}</a> </td>
    </tr>
  {% endfor %}
</table>

<p> <a href="{% url rescueB.views.new_competition %}"><strong>Add another competition!</strong></a> </p>

{% else %}
<p> No competitions were found. <a href="{% url rescueB.views.new_competition %}"><strong>Add some!</strong></a> </p>
{% endif %}
