{% if liveresults == 1 %}
  {% if performances %}
    {% if round %}
      <h4>Round {{ round }}</h4>
    {% else %}
      <h4>Final</h4>
    {% endif %}

    <table class='results_table'>
      <tr>
        <th> <abbr title="Position in the table"> Pos. </abbr></th>
        <th>&nbsp;</th>
        <th> <abbr title="Time"         > Time </abbr></th>
        <th> <abbr title="Points"       > Pts. </abbr></th>
      </tr>
      {% for result in performances %}
        <tr>
          <td> {{ forloop.counter }}. </td>
          <td class='name-live'> {{ result.team.name }} </td>
          <td> {{ result.time }} </td>
          <td class="points"> {{ result.points }} </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% else %}

  {% if performances %}
    {% if round %}
      <h4>Round {{ round }}</h4>
    {% else %}
      <h1>Final</h1>
    {% endif %}

    <table class='teamTable'>
      <tr>
        <th> <abbr title="Position in the table"> Pos. </abbr></th>
        <th>&nbsp;</th>
        <th> <abbr title="Floating Victim"      > FV </abbr></th>
        <th> <abbr title="Linear Victim"        > LV </abbr></th>
        <th> <abbr title="False Victim"         > FV </abbr></th>
        <th> <abbr title="Successful Bonux Exit"> SE </abbr></th>
        <th> <abbr title="Lack of Progress"     > LP </abbr></th>
        <th> <abbr title="Reliability"          > RB </abbr></th>
        <th> <abbr title="Time"                 > Time </abbr></th>
        <th> <abbr title="Points"               > Pts. </abbr></th>
      </tr>
      {% for result in performances %}
        {% if forloop.counter0|divisibleby:"2" %}
          <tr class="even">
        {% else %}
          <tr class="odd">
        {% endif %}
          <td> {{ forloop.counter }}. </td>
          <td class='name'> {{ result.team.name }} </td>
          <td> {{ result.floating_victim }} </td>
          <td> {{ result.linear_victim }} </td>
          <td> {{ result.false_victim }} </td>
          <td> {{ result.successful_exit }} </td>
          <td> {{ result.lack_of_progress }}x </td>
          <td> {{ result.reliability }} </td>
          <td> {{ result.time }} </td>
          <td class="points"> {{ result.points }} </td>
        </tr>
      {% endfor %}
    </table>

  {% endif %}
{% endif %}

