{% if competitions %}
<table class="eventTable">
  {% for competition in competitions %}
    <tr>
      <td> #{{ competition.id }} </td>
      <td style='width: 250px;'> <a href="{% url soccer.views.competition competition.id %}">{{competition.name}}</a> </td>
    </tr>
  {% endfor %}
</table>

<p style="clear: left;"> <a href="{% url soccer.views.new_competition %}"><strong>Add another competition!</strong></a> </p>

{% else %}
<p> No competitions were found. <a href="{% url soccer.views.new_competition %}?event={{event.id}}"><strong>Add some!</strong></a> </p>
{% endif %}
