{% extends "@layout.html" %}

{% block fastinfo %}
<div id="fastinfo">&raquo;
    <a href="{% url soccer.views.index_soccer %}">{{SITE_NAME}}</a> &raquo;
    <a href="{% url soccer.views.competition competition.id %}">{{competition.name}}</a>
</div>
{% endblock %}


{% block content %}
<section class="row">
  <div class="col span_6">
    <h2> Groups competing in {{ competition.name }} </h2>
    {% include "soccer/groups.html" %}
    <a class='button red' style="margin-top: 10px;" href="/soccer/results/competition/{{ competition.id }}.pdf">Generate PDF!</a>
  </div>
</section>
{% endblock %}
