{% extends "@layout.html" %}
{% block content %}
<div id="fastinfo">&raquo;
    <a href="/soccer/event/{{event.id}}">{{event.name}}</a> &raquo; 
    <a href="/soccer/competition/{{competition.id}}">{{competition.name}}</a> 
</div>

<section class="row">
  <div class="col span_6">
    <h2> Groups competing in {{ competition.name }} </h2>
    {% include "soccer/groups.html" %}
    <a class='button red' style="margin-top: 10px;" href="/soccer/results/competition/{{ competition.id }}.pdf">Generate PDF!</a>
  </div>
</section>
{% endblock %}
