/* The container of a map */
form{ 
    float: left;/* Floats the maps beside each other for the public view */
    margin-right: 2em;
}

.field{
    border-collapse:collapse;
    float: left; /* Floats the tile box to the left of the table in mapgen */
    /* Could move tilebox outside the form-element? */
}


/* The cells of the map, and room info */
td{
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

/* All the locations for tiles */
.location, .tile img{
    width: 52px;
    height:52px;
}

/* The separator line between each room */
/*.separator{
    height: 5px; 
    background: black;
}*/

/* When a tile hovering this location in the map editor */
.location-hover{
    background-color: lightblue;
}


/* Tile container, contains images. */
.tile{
    z-index: 1;
    padding: 0px;
    display: inline-block; /* To break the tiles on several lines in the tile box, among others? */
    position: relative; /* To fix the images inside the tile */ 
}


/* The images inside the tile, for example path, done, halfdone, undone, gap, speedbump, obstacle, intersection */
.tile img{
    left: 0px;
    top: 0px;
    z-index: 1;
    position: absolute;/* To make the images laying ontop of each other, every image (except the first) needs to be absolute */
    vertical-align: bottom;/* See http://stackoverflow.com/questions/6133931/css-how-do-i-get-rid-of-some-inexplicable-space-padding */
}

/* The images that forms the path of the field */
.tile img.path{
    position: relative; /* The first image needs to be relative */
    z-index: 0;/* The line should be behind any other images */
}


/* Every movable tiles should have another marker */
.tile.ui-draggable {
    cursor: move;
}
/* When you're moving a tile, it should be lifted higher than everything else */
.tile.ui-draggable-dragging{
    z-index: 10;
}

/* The select-list that is used in the mobile phones */
.tile select{
    visibility: hidden;
    position: absolute; /* "Hide" the select-list in every square */
}


/* Animated text that shows what happen for the audience, for example "Speedbump"" or "LoP!" */
.show-event{
    opacity: 0; 
    position: absolute;
    z-index: 10;
    text-align: left;
}


/* The container of room specifc points, such as LoP, negtiate whole room or lifted the victim */
.room-info{
    vertical-align:top;
/*    font-size: 20pt;*/
}


/* Title of the rooms */
.room-info h2{
/*    position:relative;
    font-size: 12pt;*/
    margin: 0px;
}
.room-info table{
    border: 0px;
    border-collapse: collapse;
}
/* Text when a room is not yet negoiated */
/*.room-info label, .room-info span{
    color: red;
}*/
/* Text when a room is negoiated successfully */
/*label.room-negoiated, span.room-negoiated{
    color: green;
}*/

/* Image for decreasing the number of LoPs */
.minus{
    width: 2em;
/*    padding: 0px 15px;*/
}
/* Image for increasing the number of LoPs */
.plus{
    width: 2em;
/*    padding: 0px 15px;*/
}
.count{
    font-size: 3em;
}


/* Image indicating if the victim is lifted or not */
.lifted{
    width: 4em;
}


#creator {
    width: 1000px;
    margin: 0 auto;
}

/* Box with tiles for building a map in the map editor */
#tilesbox{
    width: 300px;
    border: 4px solid darkgreen;
    background-color: lightgreen;
    float: left;
    margin-left: 5px;
}



/* Confirmation box where the competitor is signing the run */
#confirmation{
    width: 300px;
    border: 1px dashed black;
    clear: both; /* Remove the left floating of the table-element */
}


/* Right-click meny in the map editor */
#contextmenu{
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    background: #ccc;
    z-index: 100;
}
#contextmenu li {
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    cursor: pointer;
}
#contextmenu li.hover{
    background: #ddd;
}


.outside{
    border: 0px;
}
.right-edge{
    border-right: 5px solid black;
}
.bottom-edge{
    border-bottom: 5px solid black;
}
