{% extends "@layout.html" %}

{% block fastinfo %}
<div id="fastinfo">&raquo;
    <a href="{% url scorebrd.views.index %}">{{SITE_NAME}}</a> &raquo;
    <a href="{% url rescue.views.index_rescue %}">Rescue</a> &raquo;
    <a href="{% url rescue.views.competition competition.id %}">{{competition.name}}</a>
</div>
{% endblock %}

{% block content %}
<section class="row">
  <div class="col span_6">
    <h2> Groups competing in {{ competition.name }} </h2>
    {% include "rescue/groups.html" %}
    <a class='button' style="margin-top: 10px; float: left;"
      href="{% url rescue.views.results_competition_pdf competition.id %}">Generate PDF
      of results!</a>
  </div>
</section>
{% endblock %}
