{% if groups %}
<table class="eventTable">
  {% for group in groups %}
    <tr>
      <td> #{{ group.id }} </td>
      <td style='width: 250px;'> <a href="{% url rescue.views.group group.id %}">{{group.name}}</a> </td>
    </tr>
  {% endfor %}
</table> 

<p> <a href="{% url rescue.views.new_group %}?competition={{competition.id}}"><strong>Add another group!</strong></a> </p>

{% else %}
<p> No groups were found. <a href="{% url rescue.views.new_group %}?competition={{competition.id}}"><strong>Add some!</strong></a> </p>
{% endif %}
