{% extends "@layout.html" %}
{% block fastinfo %}
<div id="fastinfo">&raquo;
    <a href="{% url scorebrd.views.index %}">{{SITE_NAME}}</a> &raquo;
    <a href="{% url rescue.views.index_rescue %}">Rescue</a> &raquo;
    <a href="{% url rescue.views.competition competition.id %}">{{competition.name}}</a> &raquo;
    <a href="{% url rescue.views.group group.id %}">{{group.name}}</a>
</div>
{% endblock %}

{% block content %}
<h2> Group {{ group.name }} </h2>

{% if teams %}
  <section class="row">

    <section class="col span_3 clr">
      <h3>Performances</h3>
      {% include "rescue/quicksearch.html" %}
      {% include "rescue/performances.html" %}
    </section>

    <section class="col span_6 clr">
      <h3>Results</h3>
      {% include "rescue/results.html" %}
      {% if performances %}
        {% if not group.result_table_generated and not group.not_played_performances %}
            <a class='button green' style="margin-top: 10px;" href="{% url rescue.views.table_final_generate group.id %}">Generate final table</a>
        {% endif %}
        <a class='button red' style="margin-top: 10px;" href="{% url rescue.views.results_group_pdf group.id %}">Download results in PDF</a>
        <hr/>
        <h3>Export schedule to PDF</h3>
        <form action="{% url rescue.views.schedule_generate group.id %}" method="GET" id="schedule_table">
            {% csrf_token %}
            <input type="text" name="perf_length" placeholder="Length of round (mins)"/>
            <br />
            <input type="text" name="start_time" placeholder="Start time (e.g. 09:00)"/>
            <br />
            <input type="text" name="break_perfs"placeholder="Break between perfs (mins)"/>
            <br />
            <input type="text" name="long_break_length" placeholder="Longer break between rounds (mins)"/>
            <input type="text" name="long_break_after" placeholder="Longer break after how many rounds?"/>
            <br />
            <input type="submit" class="button orange" value="Export schedule to PDF!" />
        </form>
      {% endif %}
    </section>

    <section class="col span_3 clr">
      <h3>Teams </h3>
      {% include "rescue/teams.html" %}
      <p> <a href="{% url rescue.views.new_team %}?group={{group.id}}"><strong>Add another teams!</strong></a> </p>
    </section>

  </section>
{% else %}
  <p> No teams were found. <a href="{% url rescue.views.new_team %}?group={{group.id}}"><strong>Add some!</strong></a> </p>
{% endif %}

{% endblock %}
