{% extends "@layout.html" %}

{% block fastinfo %}
<div id="fastinfo">&raquo;
    <a href="{% url scorebrd.views.index %}">{{SITE_NAME}}</a> &raquo;
    <a href="{% url rescue.views.index_rescue %}">Rescue</a> &raquo;
    <a href="{% url rescue.views.competition competition.id %}">{{competition.name}}</a> &raquo;
    <a href="{% url rescue.views.group group.id %}">{{group.name}}</a> &raquo;
    <a href="{% url rescue.views.team team.id %}">{{team.name}}</a>
</div>
{% endblock %}

{% block content %}
<h2> Performances for team {{ team.name }} </h2>
{% include "rescue/performances.html" %}

<p>
Team <strong>{{ team.name }} </strong> has performed {{ performed }} performance{{ performance|pluralize }}.
</p>

{% endblock %}
