<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Mapgen</title>

    <script src=""></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery.rotel.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery.contextmenu.js"></script>
    <script>
      var $_GET = {"id":77};
    </script>
    <script src="{{ STATIC_URL }}/js/mapgen.js"></script><style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/rescueA/map-style.css">
  </head>
  <body>
    <form id="map"></form>
  </body>
</html>
