<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Mapgen</title>

    <script src=""></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery.rotel.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/jquery.contextmenu.js"></script>
    <script>
      var $_GET = {"id":77};
      var IMG_DIR = "{{ STATIC_URL }}";
      var MAP_SAVE_URL = "{{ STATIC_URL }}/img/tiles/";
    </script>
    <script src="{{ STATIC_URL }}/js/mapgen.js"></script><style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/rescueA/map-style.css">
  </head>
  <body>
    <div id="creator">
                    <form id="map">
<table class="field">
    <tr>
        <td class="room-info" rowspan="7" id="ramp"><h2>Ramp</h2></td>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="room-info possible-evacuation" rowspan="3" id="second"><h2>Second floor</h2></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location bottom-edge"></td>
        <td class="location bottom-edge"></td>
        <td class="location bottom-edge"></td>
        <td class="location bottom-edge"></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="outside" colspan="3"></td>
        <td class="outside"></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="room-info possible-evacuation" rowspan="3" id="first"><h2>First floor</h2></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location bottom-edge"></td>
        <td class="location bottom-edge"></td>
        <td class="location bottom-edge"></td>
        <td class="location bottom-edge"></td>
    </tr>
    <tr>
        <td class="room-info" rowspan="4" id="hallway"><h2>Hallway</h2></td>
        <td class="location right-edge"></td>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="room-info possible-evacuation" id="outer" rowspan="4"><h2>Outer room</h2></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
    </tr>
    <tr>
        <td class="location right-edge"></td>
        <td class="location right-edge"></td>
        <td class="location"></td>
        <td class="location"></td>
        <td class="location"></td>
    </tr>
</table>
</form>
</div>
  </body>
</html>
