<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<title>scoreBoard{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.quicksearch.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.token-field.js"></script>

	<link rel="stylesheet" href="{{ STATIC_URL }}/css/chosen.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/pure-min.css" type="text/css">

	<link rel="stylesheet" media="screen,projection,tv" href="{{ STATIC_URL }}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="print" href="{{ STATIC_URL }}/css/print.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/responsive-gs-12col.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/token-field/token-field.css" type="text/css" media="screen">


	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/chosen.jquery.min.js"></script>
	<script type="text/javascript">
    $(function () {
        $('select').chosen();
		});
	</script>

	{% block head %}{% endblock %}
</head>


<body>
        <div id="banner">
                <div id="logo">
                  <h1><a href="/">scoreBoard</a>

{% load ifregex %}
{% ifregex "^/soccer" request.path %}
                      <span>-</span> <a href="/soccer"><small> soccer </small></a>
{% endifregex %}
{% ifregex "^/dance" request.path %}
                      <span>-</span> <a href="/dance"><small> dance </small></a>
{% endifregex %}
{% ifregex "^/rescue" request.path %}
                      <span>-</span> <a href="/rescue"><small> rescue A</small></a>
{% endifregex %}
{% ifregex "^/rescueB" request.path %}
                      <span>-</span> <a href="/rescueB"><small> rescue B</small></a>
{% endifregex %}

                    </a>
                  </h1>
                <small class="sublogo">{{ SITE_NAME }}</small>
                </div>
                {% if user.is_authenticated %}
                    <div id="userPanel">
                       <strong><em>{{ user.username }}</em></strong>
                       <strong>|</strong> <a href="{% url logout %}"> Logout </a>
                    </div>
                {% else %}
                    <div id="userPanel">
                      <a href="{% url login %}"> Login </a>
                    </div>
                {% endif %}
        </div>

        <div id="content">
          {% block topmenu %}

{% ifregex "^/soccer" request.path %}
<ul id="menu">
  <li>
  <a href="{% url soccer.views.results_live %}"> Live results </a>
  </li>
</ul>
{% endifregex %}

{% ifregex "^/dance" request.path %}
<ul id="menu">
  <li>
  <a href="{% url dance.views.results_live %}"> Live results </a>
  </li>
</ul>
{% endifregex %}

{% ifregex "^/rescue" request.path %}
<ul id="menu">
  <li>
  <a href="{% url rescue.views.results_live %}"> Live results </a>
  </li>
</ul>
{% endifregex %}


          {% endblock %}

          {% block fastinfo %}{% endblock %}

          {% if messages %}
            <div class="flash">
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
            </div>
          {% endif %}

          {% block content %}{% endblock %}
  </div>
</body>
</html>
